/*! @generated */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-facepile-tooltip-container {
  color: #fff;
  display: inline-block;
  position: relative;
}
.mc-facepile-tooltip-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
}
.mc-facepile-tooltip-content {
  border-radius: 2px;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
}
.mc-facepile-tooltip-content-arrow {
  border: 5px solid transparent;
  left: 50%;
  margin-left: -5px;
  position: absolute;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-account-menu-item {
  width: 100%;
  box-sizing: inherit;
  padding: 4px 16px;
  margin: 16px 0 0 0;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: inherit;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  display: block;
}
.mc-account-menu-item:hover {
  text-decoration: none;
}
.mc-account-menu-item:disabled {
  color: #c1c7cd;
  cursor: auto;
}
.mc-account-menu-title {
  width: 100%;
  box-sizing: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 16px 0;
  padding: 16px 16px;
  text-align: left;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  cursor: default;
  outline: none;
  border: none;
  border-bottom: 1px solid #e6e8eb;
}
.mc-account-menu-item + .mc-account-menu-item {
  margin: 0;
}
.mc-account-menu-item:first-child {
  margin-top: 16px;
}
.mc-account-menu-item:last-child {
  margin-bottom: 16px;
}
.mc-account-menu-item:focus {
  background-color: #f7f9fa;
}
.mc-account-menu-item:enabled:hover {
  background-color: #f7f9fa;
}
.mc-account-menu-separator {
  border: none;
  border-bottom: 1px solid #e6e8eb;
  margin: 16px 0;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-avatar-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #fff;
}
.mc-avatar-text-inactive {
  opacity: 0.5;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-avatar-initials-32 {
  font-weight: 600;
  font-size: 13px;
}
.mc-avatar-initials-40 {
  font-weight: 800;
  font-size: 16px;
}
.mc-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
  outline: 0;
}
.mc-avatar-image {
  display: block;
  width: 100%;
  height: auto;
}
.mc-avatar-image-inactive {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.5;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background-color: rgba(99, 114, 130, 0.5);
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
:root { /* account for border */ /* account for border */
}
/** All styled buttons */
.mc-button {
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  height: 32px;

  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  border: none;
  background-color: transparent;
  text-decoration: none;
  border-radius: 4px;
  outline: none;
  margin: 0;
}
.mc-button:disabled,
.mc-button-disabled {
  cursor: default;
}
.mc-button:focus,
.mc-popover-trigger:focus > .mc-button,
.mc-dropdown-menu-button:focus > .mc-button {
  /* Temp focus patch for <Button tagName="span" /> to be styled when nested in of a popover or menu trigger */
  /* See https://github.com/dropbox/mcl/issues/25 */
  box-shadow: 0 0 0 3px #99c6f3;
}
/* Get rid of the Firefox inner focus border */
.mc-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mc-button-styleless {
  /* this is the only class a styleless button gets */
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.mc-button .mc-button-content {
  position: relative; /* This seemingly useless rule is key for IE buttons to not shift upon click. */
}
/** Primary button styles */
.mc-button-primary {
  line-height: 32px;
  padding: 0 16px;
  font-weight: 500;
  border: none;

  color: #fff;
  background-color: #0070e0;
}
.mc-button-primary:hover {
  background-color: #007af5;
}
.mc-button-primary:active {
  background-color: #005dd6;
}
.mc-button-primary:disabled,
.mc-button-primary.mc-button-disabled {
  background-color: #99c6f3;
}
/** Secondary button styles */
.mc-button-secondary {
  line-height: 30px;
  padding: 0 15px;
  font-weight: 400;
  border: 1px solid #c1c7cd;
  padding: 0 16px;

  color: #1b2733;
  background-color: #fff;
}
.mc-button-secondary:hover {
  border-color: #007af5;
  color: #007af5;
}
.mc-button-secondary:active {
  border-color: #005dd6;
  color: #005dd6;
}
.mc-button-secondary:disabled,
.mc-button-secondary.mc-button-disabled {
  color: #c1c7cd;
  border-color: #c1c7cd;
}
/** Additional variant styles */
.mc-button-large {
  height: 40px;
  line-height: 40px;
}
.mc-button-small {
  height: 20px;
  line-height: 20px;
}
.mc-button-borderless,
.mc-button-borderless:hover,
.mc-button-borderless:disabled {
  border-color: transparent;
}
.mc-button-invisible {
  /* use opacity instead of visibility for screen readers */
  opacity: 0;
}
.mc-button-circular {
  padding: 0;
  border: none;
  background: none;
  border-radius: 50%;
}
.mc-button-circular:hover {
  background: none;
}
.mc-button-full-width {
  width: 100%;
}
/* Web specfic styling */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-checkbox {
  display: block;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #fff;
  border-radius: 3px;
}
.mc-checkbox-disabled {
  cursor: default;
}
.mc-checkbox-invisible {
  visibility: hidden;
}
.mc-checkbox-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.mc-checkbox-border {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #c1c7cd;
  border-radius: 3px;
}
.mc-checkbox-input:hover ~ .mc-checkbox-border,
.mc-checkbox-input:focus ~ .mc-checkbox-border,
.mc-checkbox-hovered .mc-checkbox-border {
  border: 1px solid #0070e0;
}
.mc-checkbox-disabled .mc-checkbox-input:disabled ~ .mc-checkbox-border {
  border: 1px solid #c1c7cd;
}
.mc-checkbox-input:focus ~ .mc-checkbox-border {
  box-shadow: 0 0 0 3px #99c6f3;
}
.mc-checkbox-checked .mc-checkbox-checked-icon {
  display: block;
}
.mc-checkbox-checked {
  background-color: #0070e0;
}
.mc-checkbox-checked .mc-checkbox-border {
  border: 1px solid #0070e0;
}
.mc-checkbox-mixed .mc-checkbox-mixed-icon {
  display: block;
}
.mc-checkbox-checked-icon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.mc-checkbox-mixed-icon {
  display: none;
  position: absolute;
  top: 9px;
  left: 7px;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
/*
  Alignment of the caret and button content should probably be through flexbox
  IE10 lacks some basic flexbox support (such as inline flex-children)
  and text-overflow within elements with non-block parents.

  https://tails.corp.dropbox.com/D245337 removed flexbox and added IE10 support.
*/
.mc-dropdown-button {
  min-width: 200px;
  text-align: left;
}
.mc-dropdown-button .mc-button-content::before {
  float: right;
  display: inline-block;
  content: '';

  /* create a triangle with borders */
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #637282;
  margin: 14px 0 12px 16px; /* 2px is a visual alignment adjustment */
}
.mc-dropdown-button-content {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
:root {
  /*
    TODO(taylorm) these max width/height values are arbitrary,
    determine from design what the actual width/height constraints are.
  */
}
/** DropdownMenu */
.mc-dropdown-menu {
}
.mc-dropdown-menu-button {
}
/** Menu */
.mc-menu {
  padding: 0;
  margin-top: 8px;
  width: 200px;
  max-height: 320px;
  overflow: auto;
  position: absolute;
  z-index: 1;

  font-family: 'AtlasGrotesk', sans-serif;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
  border-radius: 4px;
}
/** MenuItem */
.mc-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}
.mc-menu-item-button {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
  line-height: 32px;
  font-size: 14px;
  text-align: left;

  font-family: 'AtlasGrotesk', sans-serif;
  color: #1b2733;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}
.mc-menu-item-button .mc-button-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.mc-menu-item:focus .mc-menu-item-button,
.mc-menu-item-button:focus,
.mc-menu-item-button:hover {
  background-color: #f7f9fa;
}
.mc-menu-item-selected .mc-menu-item-button,
.mc-menu-item-button:active {
  color: #005dd6;
}
.mc-menu-item:first-of-type .mc-menu-item-button {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.mc-menu-item:last-of-type .mc-menu-item-button {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-facepile-members {
  cursor: pointer;
  display: inline-block;
}
.mc-facepile {
  display: inline-block;
}
.mc-facepile-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-weight: inherit;
}
.mc-facepile-container {
  display: inline-block;
  font-weight: inherit;
}
.mc-facepile-shadow-wrapper {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  -webkit-perspective: 1px;
          perspective: 1px;
}
.mc-facepile-image {
  display: block;
  min-width: 100%;
  height: 100%;
  border-radius: 50%;
  font-weight: inherit;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-icon-star path {
  fill: #0070e0;
}
.mc-icon-star-hovered path,
.mc-icon-star:not(.mc-icon-star-state-manapathed):hover path {
  fill: #007af5;
}
.mc-icon-star-active path,
.mc-icon-star:not(.mc-icon-star-state-manapathed):active path {
  fill: #005dd6;
}
.mc-icon-star-selected path {
  fill: #0070e0;
}
.mc-icon-star-selected.mc-icon-star-hovered path,
.mc-icon-star-selected:not(.mc-icon-star-state-manapathed):hover path {
  fill: #007af5;
}
.mc-icon-star-selected.mc-icon-star-active path,
.mc-icon-star-selected:not(.mc-icon-star-state-manapathed):active path {
  fill: #005dd6;
}
.mc-icon-star-disabled path {
  fill: #c1c7cd;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-input {
  box-sizing: border-box;
  font-size: 14px;
  color: #1b2733;
  height: 32px;
  padding: 0 8px;
  border: 1px solid #c1c7cd;
  border-radius: 4px;
}
.mc-input.disabled,
.mc-input:disabled {
  border-color: #e6e8eb;
  background-color: #e6e8eb;
}
.mc-input.invalid,
.mc-input:invalid {
  border-color: #d62c0b;
  box-shadow: none;
}
.mc-input:focus,
.mc-input.focus {
  border: 1px solid #0070e0;
  outline: none;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-media-row,
.mc-media-cell,
.mc-media-cell-content,
.mc-media-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-media-row {
  box-sizing: border-box;
  border-bottom: 1px solid #e6e8eb;
  position: relative; /* support for absolute position of media-actions */
  min-height: 64px;
}
.mc-table tr.mc-media-row {
  /* override default cursor value of 'auto' on table tr {} in some user agents! */
  cursor: inherit;
}
.mc-table tr.mc-media-row.mc-media-row-clickable {
  /* nesting necessary because of above selection */
  cursor: pointer;
}
/* Culled row */
.mc-media-row-culled {
  position: absolute;
  width: 100%;
  z-index: 0;
}
/* Double-line height row */
.mc-media-row-double-line {
  min-height: 72px;
}
.mc-media-row-clickable:active {
  background-color: #f0f4f5;
}
.mc-media-row-selected {
  background-color: #ebf4fd;
}
.mc-media-row-selected.mc-media-row-clickable:active {
  background-color: #d6e8fa;
}
.mc-media-row-droppable {
  background-color: #edfaf1;
}
.mc-media-row-dragover {
  background-color: #ddf0e2;
}
.mc-media-cell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  min-height: 63px; /* 1px border */
}
.mc-media-cell-double-line {
  min-height: 71px; /* 1px border */
}
.mc-media-cell-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 0;
}
.mc-media-cell-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 64px;
      flex-basis: 64px;
}
.mc-media-cell-text-title,
.mc-media-cell-text-subtitle,
.mc-media-cell-text-detail {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mc-media-cell-text-title,
.mc-media-cell-text-detail {
  font-size: 14px;
  line-height: 24px;
}
.mc-media-cell-text-detail {
  color: #637282;
}
.mc-media-cell-text-subtitle {
  color: #637282;
  font-size: 12px;
  line-height: 16px;
}
.mc-media-cell-text-highlight {
  color: #0070e0;
}
/* Media actions */
.mc-media-actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0;
}
.mc-media-actions > * {
  margin-right: 16px;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
@-webkit-keyframes mediaTableGlint {
  0% {
    left: -100px;
  }
  100% {
    left: 200px;
  }
}
@keyframes mediaTableGlint {
  0% {
    left: -100px;
  }
  100% {
    left: 200px;
  }
}
.media-table-skeleton,
.media-table-skeleton-head,
.media-table-skeleton-head-row,
.media-table-skeleton-head-cell,
.media-table-skeleton-icon,
.media-table-skeleton-body,
.media-table-skeleton-row,
.media-table-skeleton-cell-content,
.media-table-skeleton-cell-detail,
.media-table-skeleton-placeholder-head,
.media-table-skeleton-placeholder-content,
.media-table-skeleton-placeholder-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.media-table-skeleton,
.media-table-skeleton-head,
.media-table-skeleton-head-row,
.media-table-skeleton-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.media-table-skeleton-head-cell,
.media-table-skeleton-cell-content,
.media-table-skeleton-cell-detail {
  padding: 0; /* unset user agent */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.media-table-skeleton {
  overflow: hidden;
}
.media-table-skeleton-head {
  border-bottom: 1px solid #e6e8eb;
  height: 40px;
  box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.media-table-skeleton-head-row {
}
.media-table-skeleton-placeholder-head::after,
.media-table-skeleton-placeholder-content::after,
.media-table-skeleton-placeholder-detail::after {
  content: '';
  position: absolute;
  top: 0px;
  left: -100px;
  width: 120px;
  height: 80px;
  opacity: 1;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-animation-name: mediaTableGlint;
          animation-name: mediaTableGlint;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
.media-table-skeleton-placeholder-head,
.media-table-skeleton-placeholder-content,
.media-table-skeleton-placeholder-detail {
  position: relative;
  color: transparent;
  opacity: 0.06;
  background-color: #637282;
}
.media-table-skeleton-placeholder-head {
  height: 12px;
  -ms-flex-preferred-size: 32px;
      flex-basis: 32px;
}
.media-table-skeleton-placeholder-content,
.media-table-skeleton-placeholder-detail {
  height: 16px;
}
.media-table-skeleton-placeholder-content {
  -ms-flex-preferred-size: 168px;
      flex-basis: 168px;
  margin-right: 16px;
}
.media-table-skeleton-placeholder-detail {
  -ms-flex-preferred-size: 32px;
      flex-basis: 32px;
}
.media-table-skeleton-row {
  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid #e6e8eb;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.media-table-skeleton-cell-content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.media-table-skeleton-cell-detail {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.media-table-skeleton-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-mobile-menu-content {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
}
.mc-mobile-menu-section {
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(99, 114, 130, 0.16);
  margin-bottom: 15px;
  padding: 8px 0;
}
.mc-mobile-menu-section:last-child {
  padding: 0;
  margin-bottom: 0;
}
.mc-mobile-menu-item {
  background: #fff;
  border: #fff 5px;
  font-family: 'AtlasGrotesk', sans-serif;
  color: #0070e0;
  font-size: 14px;
  padding: 10px 30px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mc-mobile-menu-close-button {
  text-align: center;
  height: 40px;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}
.mc-no-scroll,
.mc-no-scroll body {
  overflow-y: hidden;
}
.mc-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: 12;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
}
.mc-modal-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  background-color: rgba(99, 114, 130, 0.5);
}
.mc-modal-body {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.mc-modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 20;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.mc-modal-close-icon {
  width: 24px;
  height: 24px;
}
.mc-util-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mc-util-modal-regular {
  width: 560px;
}
.mc-util-modal-small {
  width: 432px;
}
.mc-util-modal-header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 64px;
  padding: 0 24px 0 24px;
  font-size: 16px;
}
.mc-util-modal-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 24px 24px 24px;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.5em;
}
.mc-util-modal-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
  padding: 0 24px 0 24px;
  background-color: #f7f9fa;
  border-top: 1px solid #e6e8eb;
  border-radius: 0 0 4px 4px;
}
.mc-util-modal-actions-buttons > * {
  margin-left: 8px;
}
.mc-util-modal-small .mc-util-modal-actions-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.mc-util-modal-small .mc-util-modal-actions-buttons > * {
  width: 50%;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-overflow-button {
  color: #637282;
  padding: 0 1px; /* 32px icon + 1px border + 1px padding = 36px */
}
.mc-overflow-button-icon {
  margin-top: -1px; /* icon height is 32px and does not consider the border */
}
.mc-overflow-button:not(:disabled):hover .mc-overflow-button-icon g,
.mc-overflow-button:not(:disabled):active .mc-overflow-button-icon g {
  fill: #0070e0; /* we don't have a system for changing icon colors yet, fix me */
}
/* web specific content */
.mc-icon-template-actionable {
}

.mc-icon-template-actionable-disabled {
  opacity: 0.5;
}

/* web specific content */
.mc-icon-template-content {
}

.mc-icon-template-content-disabled {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-icon-template-selectable path {
  fill: #637282;
}
.mc-icon-template-selectable-hovered path,
.mc-icon-template-selectable:not(.mc-icon-template-selectable-state-manapathed):hover path {
  fill: #6a7c8f;
}
.mc-icon-template-selectable-active path,
.mc-icon-template-selectable:not(.mc-icon-template-selectable-state-manapathed):active path {
  fill: #536170;
}
.mc-icon-template-selectable-selected path {
  fill: #0070e0;
}
.mc-icon-template-selectable-selected.mc-icon-template-selectable-hovered path,
.mc-icon-template-selectable-selected:not(.mc-icon-template-selectable-state-manapathed):hover
  path {
  fill: #007af5;
}
.mc-icon-template-selectable-selected.mc-icon-template-selectable-active path,
.mc-icon-template-selectable-selected:not(.mc-icon-template-selectable-state-manapathed):active
  path {
  fill: #005dd6;
}
.mc-icon-template-selectable-disabled path {
  fill: #c1c7cd;
}
/* web specific content */
.mc-icon-template-status-rotating {
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-popover-item-group-separator {
  border: none;
  border-bottom: 1px solid #e6e8eb;
  margin: 8px 0;
  padding: 0;
}
.mc-popover-item-group:first-of-type {
  padding-top: 8px;
}
.mc-popover-item-group:last-of-type {
  padding-bottom: 8px;
}
.mc-popover-selectable-item {
  width: 100%;
  box-sizing: border-box;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
}
.mc-popover-selectable-item:enabled:hover,
.mc-popover-selectable-item:focus {
  background-color: #f7f9fa;
}
.mc-popover-selectable-item:enabled:active {
  background-color: #e6e8eb;
}
.mc-popover-selectable-item-selected {
  color: #0070e0;
  font-weight: 500;
}
.mc-popover-selectable-item-disabled .mc-popover-selectable-item-text {
  color: #c1c7cd;
}
.mc-popover-selectable-item-content,
.mc-popover-selectable-item-check-wrapper,
.mc-popover-selectable-item-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-popover-selectable-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mc-popover-selectable-item-check-wrapper {
  min-width: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mc-popover-selectable-item-icon-wrapper {
  min-width: 32px;
  padding: 4px 8px 4px 0;
}
.mc-popover-selectable-item-text {
  padding: 4px 8px 4px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.mc-popover-item-group-title {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: #637282;
  margin: 0;
  padding: 4px 16px 4px 32px;
}
.mc-popover {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  color: #1b2733;
}
.mc-popover-trigger {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.mc-popover-content {
  position: absolute;
  box-sizing: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  width: 344px;
  z-index: 1;
}
.mc-popover-content-menu {
  padding: 0px;
  display: inline-block;
  box-sizing: inherit;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
  border-radius: 4px;
  outline: none;
}
.mc-popover-content-attach-left {
  left: 0;
  right: auto;
  margin-left: -8px;
}
.mc-popover-content-attach-right {
  right: 0;
  left: auto;
  margin-right: -8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.mc-popover-content-position-above {
  bottom: 100%;
  margin-bottom: 8px;
}
.mc-popover-content-position-below {
  top: 100%;
  margin-top: 8px;
}
.mc-popover-content-scroller {
  box-sizing: inherit;
  display: block;
  overflow: auto;
}
.mc-popover-content-description {
  width: 100%;
  box-sizing: inherit;
  border: none;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 8px 16px;
  text-align: left;
}
.mc-popover-content-title {
  width: 100%;
  box-sizing: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 8px 16px 7px 16px; /* 7px because of bottom border */
  text-align: left;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  cursor: default;
  outline: none;
  border: none;
  border-bottom: 1px solid #e6e8eb;
}
.mc-popover-content-title + .mc-popover-content-item {
  margin-top: 8px;
}
.mc-popover-content-item {
  width: 100%;
  box-sizing: border-box;
  padding: 4px 16px;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: inherit;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  display: block;
}
.mc-popover-content-item:disabled {
  color: #c1c7cd;
  cursor: default;
}
.mc-popover-content-item:first-child {
  margin-top: 8px;
}
.mc-popover-content-item:last-child {
  margin-bottom: 8px;
}
.mc-popover-content-item:focus {
  background-color: #f7f9fa;
}
.mc-popover-content-item:enabled:hover {
  background-color: #f7f9fa;
}
.mc-popover-content-separator {
  border: none;
  border-bottom: 1px solid #e6e8eb;
  margin: 8px 0 8px 16px;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-snackbar {
  box-sizing: border-box;
  margin-bottom: 24px;
  height: 44px;
  background-color: #f7f9fa;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
  font-size: 14px;
  font-weight: 400;
  color: #1b2733;
  -webkit-animation: snackbarload 0.15s cubic-bezier(0.2, 0, 0.5, 1.7);
          animation: snackbarload 0.15s cubic-bezier(0.2, 0, 0.5, 1.7);
  pointer-events: all;
  max-width: 600px;
  min-width: 400px;
}
.mc-snackbar-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  padding: 0 24px;
}
.mc-snackbar-container--snackbar-icon {
  padding-left: 8px;
}
/* 1.3 Action Links component and overrides. This overrides the default anchor
treatment and uses $color_stone as the default color */
.mc-snackbar-actions {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: auto;
  font-weight: 400;
  cursor: pointer;
  color: #637282;
  font-size: 14px;
}
.mc-snackbar-actions:hover {
  color: #007af5;
}
.mc-snackbar-actions:last-child {
  margin-left: 16px;
}
.mc-snackbar-actions:only-of-type {
  margin-left: auto;
}
/* 1.4 - Icon container for any element that would be embedded inside of a Snackbar */
.mc-snackbar-icon {
  margin-right: 4px;
}
.mc-snackbar-icon svg {
  display: block;
  width: 32px;
  height: 32px;
}
/* 1.5 - Progress bar for syncing Snackbar. Kind of janky: using negative margin
and some rough border-radius properties in order to get alignment correct and prevent
clipping with .c-snackbar border. */
.mc-progress-bar-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-top: -4px;
  background-color: #d6e8fa;
  height: 4px;
}
.mc-progress-bar-fg {
  width: 0%;
  height: 4px;
  border-radius: 0px 4px 4px 8px;
  background-color: #0070e0;
  transition: all linear 1s;
}
.mc-snackbar-holder-backdrop {
  position: fixed;
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 12;
  pointer-events: none;
  -webkit-animation: backgroundfade 0.2s linear;
          animation: backgroundfade 0.2s linear;
}
.mc-snackbar-holder-backdrop .mc-snackbar {
  margin-top: 132px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes snackbarload {
  0% {
    margin-top: 160px;
  }
  100% {
    margin-top: 132px;
  }
}
@keyframes snackbarload {
  0% {
    margin-top: 160px;
  }
  100% {
    margin-top: 132px;
  }
}
@-webkit-keyframes backgroundfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes backgroundfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-tabbed-header-list,
.mc-tabbed-header-item,
.mc-tabbed-header-tab,
.mc-tabbed-header-tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-tabbed-header-list {
  border-bottom: 1px solid #e6e8eb;
  box-sizing: border-box;
  font-family: 'AtlasGrotesk', sans-serif;
  list-style-type: none;
  margin: 0;
  max-height: 40px;
  padding: 0;
}
.mc-tabbed-header-item {
  margin-right: 32px;
}
.mc-tabbed-header-tab {
  background: none;
  border: none;
  color: #637282;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.mc-tabbed-header-tab:focus {
  outline: none;
}
.mc-tabbed-header-tab-content-space {
  font-weight: 500;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}
.mc-tabbed-header-tab-content-selected {
  border-bottom: 1px solid #1b2733;
  color: #1b2733;
  font-weight: 500;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-table,
.mc-table-head,
.mc-table-body,
.mc-table-row,
.mc-table-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-table {
  font-family: 'AtlasGrotesk', sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1b2733;
}
.mc-table-head {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
}
.mc-table-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* Culled table body */
.mc-table-body-culled {
  position: relative;
}
.mc-table-row {
  border-bottom: 1px solid #e6e8eb;
  background: #fff;
}
/* Culled table row */
.mc-table-row-culled {
  position: absolute;
  width: 100%;
  z-index: 0;
}
.mc-table tr.mc-table-row {
  /* override default cursor value of 'auto' on table tr {} in some user agents! */
  cursor: inherit;
}
.mc-table-head-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  color: #637282;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/* Fixed table header row */
.mc-table-head-row-fixed {
  position: fixed;
  z-index: 4;
}
.mc-table-cell {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.mc-table-head-cell {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-tertiary-link-button,
.mc-tertiary-list,
.mc-tertiary-list-element,
.mc-tertiary-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-tertiary-link-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  zoom: 1;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  text-align: left;

  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  border: none;
  background-color: transparent;
  text-decoration: none;
  border-radius: 4px;
  outline: none;
  margin: 0;
  padding: 0 8px 0 0;
  max-width: 100%;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  color: #0070e0;
}
.mc-tertiary-link-button:hover {
  color: #007af5;
}
.mc-tertiary-link-button:active {
  color: #005dd6;
}
.mc-tertiary-link-button:disabled {
  /* This is a magic number and should be replaced with a color
    constant when the icon supports color filling */
  opacity: 0.4;
  cursor: default;
}
.mc-tertiary-link-button-content {
  /* Wrap the button content in a flex container
    because in some browsers (FF45) a button cannot have display flex
  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-tertiary-list {
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}
.mc-tertiary-list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-tertiary-icon-wrapper {
  margin-bottom: auto;
  min-width: 32px;
}
.mc-tertiary-icon-text {
  font-weight: 400;
  /* these are magic numbers that do not exist in the design system */
  line-height: 22px;
  font-size: 14px;
  padding: 5px 0;
}
/* web specific content */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-tip-card {
  padding: 16px;
  background-color: #f7f9fa;
  border-radius: 4px;
  border: 1px solid #e6e8eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-tip-card-description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  font-family: 'AtlasGrotesk', sans-serif;
  color: #1b2733;
}
.mc-tip-card-dismiss {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-left: 8px;
  height: 24px;
}
.mc-tip-card-dismiss-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.mc-tip-card-dismiss-icon g {
  fill: #637282;
}
.mc-tip-card-dismiss-icon g:hover {
  fill: #6a7c8f;
}
.mc-tip-card-dismiss-icon g:active {
  fill: #536170;
}
/* web specific content */
